src/lib/await-semaphore/
src/lib/synctexjs/
viewer/viewer.js
viewer/viewer.mjs
dist/
data/
dev/
icons/
node_modules/
out/
resources/
samples/
syntax/
.idea/
__pycache__/
.mypy_cache/
.pytest_cache/
.venv/
.vscode/
.vscode-test/
.git/
.github/
.devcontainer/
