@media all and (max-width: 1100px) {
    #toolbarViewerMiddle {
      margin: auto;
      left: auto;
      position: inherit;
      -webkit-transform: none;
              transform: none;
    }
}

@media all and (max-width: 660px) {
    .visibleSmallView {
      display: inherit;
    }
}

html[dir='ltr'] .findbar {
    left: 125px;
}
html[dir='rtl'] .findbar {
    right: 125px;
}

@media all and (max-width: 860px) {
    html[dir='ltr'] .findbar {
      left: 20px;
    }
    html[dir='rtl'] .findbar {
      right: 20px;
    }
}

.findbar.wrapContainers > div {
    clear: inherit;
}

#errorWrapper {
    z-index: 100000;
}

#synctex-indicator {
    position: absolute;
    z-index: 100000;
    background-color: red;
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.pop {
    animation-duration: 0.6s;
    animation-name: pop;
    animation-iteration-count: 1;
    animation-direction: normal;
}

@keyframes pop {
    from {
        opacity: 0.8;
        height: 8px;
        width: 8px;
    }
    
    to {
        opacity: 0;
        height: 128px;
        width: 128px;
    }
}

/**
 * Remove the masks after the PDF document rendered with a transition animation.
 */

#viewerContainerSpacer {
    padding: 0;
    margin: 0;
    border: none;
    position: absolute;
    z-index: -1;
}

.removeMask {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.divMask {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: 0px 0px 0px 1px lightgrey;
    outline: none;
    position: fixed;
    overflow: hidden;
    z-index: 10;
}

.divMask img {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    position: relative;
}

#historyBack::before {
    -webkit-mask-image: var(--findbarButton-previous-icon);
    mask-image: var(--findbarButton-previous-icon);
}

#historyForward::before {
    -webkit-mask-image: var(--findbarButton-next-icon);
    mask-image: var(--findbarButton-next-icon);
}

.pdfViewer.removePageBorders .page {
    border: none;
    box-shadow: 0px 0px 0px 1px lightgrey;
}

.notransition {
    transition: none !important;
}

.toolbar {
    transition: all 0.2s cubic-bezier(.23,.96,.57,.99);
}

.toolbar.hide {
    opacity: 0;
    transition-duration: 0.4s;
}

#viewerContainer {
    top: 0;
}

.dropdownToolbarButton {
    font-size: inherit;
}

.dropdownToolbarButton > select{
    font-size: inherit;
}

#viewBookmark {
    display: none !important;
}

#secondaryViewBookmark {
    display: none  !important;
}

#downloadButton {
    display: none  !important;
}

#secondaryDownload {
    display: inherit !important;
}

#secondaryToolbarButtonContainer .horizontalToolbarSeparator {
    display: inherit !important;
}

#toolbarViewerRight .verticalToolbarSeparator {
    display: none  !important;
}

#openFile  {
    display: none  !important;
}

#secondaryOpenFile {
    display: none  !important;
}

#presentationMode {
    display: none  !important;
}

#secondaryPresentationMode {
    display: none  !important;
}

#trimSelectContainer {
    max-width: 140px;
    min-width: 140px;
}

#trimSelectContainer > select {
    min-width: 130px;
    max-width: 130px;
}

#sidebarToggle::after {
    display: none;
}

#synctexOffButton::before {
    display: none;
}

#autoReloadOffButton::before {
    display: none;
}

#notify-disconnected {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    border: 3px solid red;
}

#notify-disconnected[class="hide"] {
    opacity: 0;
}

#notify-reconnected {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    border: 3px solid green;
}

#notify-reconnected[class="hide"] {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
